<body>
    <h1>HARD Y SOFT SKILLS</h1>
    <div class="row" style="width:80%">
        <h2 style="margin-right: 103px; margin-left: 38px;">HTML</h2>
        <h2 style="margin-right: 78px; margin-left: 38px;">CSS</h2>
        <h2 style="margin-right: 55px; margin-left: 38px;">JavaScript</h2>
        <h2 style="margin-right: 87px; margin-left: 38px;">Angular</h2>
        <h2 style="margin-right: 100px; margin-left: 38px;">Java</h2>
    </div>
    <div class="row">
        <div class="circle"><h3><b> 50% </b></h3></div>
        <div class="circle"><h3><b> 40% </b></h3></div>
        <div class="circle"><h3><b> 25% </b></h3></div>
        <div class="circle"><h3><b> 25% </b></h3></div>
        <div class="circle"><h3><b> 10% </b></h3></div>
    </div>
    <div class="row" style="width:80%">
        <h2 style="margin-right: 60px; margin-left: 126px;">Inglés</h2>
        <h2 style="margin-right: 20px; margin-left: 48px;">Redacción</h2>
        <h2 style="margin-right: 11px; margin-left: 48px;">Matemática</h2>
        <h3 style="margin-right: 24px; margin-left: 48px; margin-top: 4px;">Mezcla de audio</h3>
    </div>
    <div class="row" id="row2">
        <div class="circle"><h3><b> 70% </b></h3></div>
        <div class="circle"><h3><b> 70% </b></h3></div>
        <div class="circle"><h3><b> 60% </b></h3></div>
        <div class="circle"><h3><b> 70% </b></h3></div>
    </div>
</body>