body{
    margin-top: -20px;
}

header{
    background-color: rgb(46, 39, 90);
}

header img{
    text-align: left;
}

h1{
    text-align: center;
}

#redes{
    margin-top: -90px;
}

#redes i{
    color: rgb(243, 239, 255);
    font-size: 50px;
    margin: 0px 40px 0px 40px;
    text-decoration: none;
}

#redes i:hover{
    display: inline-block;
    animation: flip;
    animation-duration: 0.8s
}

#login{
    text-align: right;
    margin-right: 50px;
    margin-top: -50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 1070px) {

    img{
        width: 27%
    }

    h1{
        margin-top: 14px;
    }

    #login, #logout{
        margin-top: -50px;
        margin-bottom: 14px;
    }
}

@media only screen and (max-width: 970px) {

    h1{
        margin-top: 15px;
    }

    #login, #logout{
        margin-top: -45px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 850px) {

    h1{
        margin-top: 45px;
    }

    #login, #logout{
        margin-top: -55px;
        margin-bottom: 14px;
    }
}

@media only screen and (max-width: 768px) {

    img{
        margin-top: 15px;
    }

    h1{
        margin-top: 30px;
    }

    #login, #logout{
        margin-top: -55px;
        margin-bottom: 10px;
    }

    #redes i{
        margin: 0px 15px 0px 15px;
    }
}

@media only screen and (max-width: 600px) {

    img{
        margin-top: 30px;
        height: 60px;
        width: 120px;
    }

    h1{
        margin-top: 35px;
    }

    #login, #logout{
        margin: -45px 15px -19px 0px;
    }

    #redes i{
        font-size: 35px;
    }
}