<img id="banner" src="./assets/IMG_2245.jpg">
<img id="perfil" src="./assets/fotocv.jpg">
<p id="epigrafe"><i>Full Stack Developer Jr.</i></p>
<div>
    <h1><b>BRUNO CORTI</b></h1>
    <h3><b>Resumen Profesional</b></h3>
    <p>Estudio actualmente en la Facultad de Artes, UNLP. <br><br>Tengo una gran capacidad de aprender y vocación por
        mejorar cada día en la práctica de mis tareas.</p>
    <h3 id="h3-2"><b>Aptitudes Profesionales</b></h3>
    <p>-Lectura y dicción fluída en Inglés.
        <br>
        -Redacción.
        <br>
        -Manejo de operaciones matemáticas.
        <br>
        -Manejo de Word.
        <br>
        -Edición y mezcla en Software de Audio.
        <br>
        -Edición básica de video.
    </p>
</div>